[user]
  name = Jay Rainey
  email = jawrainey@gmail.com
[credential]
  helper = cache --timeout=3600
[core]
  editor = vim
  autocrlf = input
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ll = log --stat --abbrev-commit #show what changed, and by how much
[color]
  ui = true
